/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos de la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        color: white;
        font-size: 18px;

        img {
            margin-right: 10px;
        }
    }

    @media (max-width: 768px) {
        .collapsed {
            flex-direction: column;
            align-items: center;
        }
        
        .navbar-nav {
            margin-top: 20px;
        }

        .collapse.navbar-collapse {
            justify-content: center;
        }

        .navbar-nav .nav-link {
            text-align: center;
        }

        .navbar-toggler {
            order: 3;
            margin-left: auto;
        }
    }
}

/* Estilos del call to action */
.call {
    text-align: center;
    padding: 50px 0;
}

#carouselExampleSlidesOnly {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 0;


    .carousel-inner {
        .carousel-item {
            img {
                max-width: 100%;
                height: 600px;
                object-fit: cover;
            }
        }
    }
}

/* Estilos de los recuadros destacados */
.destacados {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.destacado {
    width: calc(33% - 20px);
    background-color: #f0f0f0;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    a {
        display: inline-block;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 3px;

        &:hover {
            background-color: #555;
        }
    }

    &.animated {
        animation-duration: 0.2s;
        animation-delay: 0.1s; 
        animation-fill-mode: both;
    }

    &:hover {
        animation-name: bounce;
    }
}


@media (max-width: 768px) {
    #carouselExampleSlidesOnly {
        margin-bottom: 10px; 
    
    }

    .destacados {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .destacado {
        width: 80%;
    }

    #carouselExampleSlidesOnly img {
        width: 100%;
        height: auto;
        max-height: 300px;
    }
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.redes {
    margin-top: 20px;

    i {
        font-size: 24px;
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
    }
}

/* Estilos del botón de subir */
.subir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;

    i {
        font-size: 20px;
    }
}


/* Estilos del llamado a la acción */
.main-section {
    .call {
        text-align: center;
        padding: 10% 0;
        background-size: cover;
        background-position: center;
        color: #ffffff;

        h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        a {
            display: inline-block;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 3px;

            &:hover {
                background-color: #555;
            }
        }
    }
}


/* Estilos para la información de mapa */
.mapa {
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;

    @media (max-width: 768px) {
        flex-basis: 100%; 
    }
}

.contacto {
    p {
        margin: 0;
    }

    .mapa iframe {
        width: 100%;
        height: 600px;
        border: none;
    }
}

/* Estilos de la sección de planes */
.planes {
    color: #040115;
    background-color: #deeaf69c;
    padding: 40px 0;
    background-size: cover;
    background-position: center;
    background-color: #acaeb07d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    

    .animate-text {
        animation: fadeIn 1s ease forwards;
        opacity: 0;
    }

    ul {
        list-style: none;
        padding: 80px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        width: 100%;

        li {
            padding: 30px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 20px;
            transition: transform 0.3s, box-shadow 0.3s;
            position: relative;
            background-image: url('../img/tv.jpg');
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;

            p {
                font-size: 18px;
                margin: 5px 0;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 5px;
            }

            strong {
                font-size: 22px;
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
        }
    }

    .btn {
        display: grid;
        background-color: #f91616;
        color: #fff;
        text-decoration: none;
        padding: 0;
        border-radius: 5px;
        justify-content: center;
    }

    @media (max-width: 768px) {
        padding: 15px; 
        h2 {
            font-size: 24px; 
        }

        ul {
            padding: 15px; 
            li {
                padding: 15px; 

                strong {
                    font-size: 18px;
                }     

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

/* Estilos de la sección Nosotros */
#titulo-container h1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh; 
    margin-top: 10px;
  }
  
.about-us {
    .container {
      display: flex;
      flex-direction: column;
      
      .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        
        img {
          max-width: 50%;
          border-radius: 5px;
          margin-right: 20px;
          margin-left: 20px;
          
        }
  
        .text {
          font-family: 'Roboto';
          font-size: 19px;
          text-align: justify;
          margin-top: 0;
          flex: 1;
        }
      }
  
      .content:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }
  
  @media (max-width: 768px) {
    .about-us .container {
      .content {
        flex-direction: column;
  
        img {
          max-width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
  
        .text {
          text-align: justify;
          padding: 10px;
          margin: 10px;
        }
    }
    .content:nth-child(even) {
        flex-direction: column; 
        }
    }
}
  
  
  

/* Estilos de la sección de contacto */
#contacto {
    background-image: url('../img/contacto.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    padding: 0px 0;
}


.animated-form {
    max-width: 500px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(20px);
    animation: slideInFromBottom 1s ease forwards;

    label,
    input,
    textarea,
    button {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    label {
        font-size: 18px;
        font-weight: bold;
    }

    input,
    textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    textarea {
        resize: vertical;
    }

    button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            background-color: #555;
        }
    }
}
@keyframes slideInFromBottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
 }

/* Estilo para Señales */
.imagen-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 5px;
    align-items: center; 
    justify-content: center; 
  
    img {
      width: 100px; 
    }
  
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);

        h2 {
          font-size: 24px; 
        }
      }
    }
    
#Señales h2 {
    background-image: url('img/grilla2.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 100px;  
    color: rgba(255, 255, 255, 0.818); 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: 0px 0 60px ;
}